.animals {
    text-align: center;

    &__title {
        font-size: 10em;
        font-weight: lighter;
        margin-bottom: .5em;
    }
    &__contPictures {
        @include flexbox(none, center, column, nowrap);
    }
    &__img {
        position: sticky;
        bottom: 0;
        width: 70%;
        height: 30em;
        cursor: none;
    
        &-1 {
            z-index: 5;
        }
        &-2 {
            z-index: 4;
            transform: translate(4em, 4em)
        }
        &-3 {
            z-index: 3;
            transform: translate(-4em, 4em)
        }
        &-4 {
            z-index: 2;
            transform: translate(8em, 8em)
        }
        &-5 {
            z-index: 1;
        }
    }

}