.header {
    @include flexbox(space-between, center, row, nowrap);
    padding: 1em 2em;
    position: absolute;
    width: calc(100% - 4em);

    &__text {
        text-transform: uppercase;
        font-weight: lighter;
    }

    &__nav {
        display: flex;
        gap: 2em;
        box-shadow: 
        0 0 4px rgb(189, 188, 188),
        0 0 10px rgb(146, 144, 144);
        border-radius: 2em;
        padding: .5em 1em;
    }

    &__enlace {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #bb2525;  
            clip-path: polygon(49% 0, 49% 0, 48% 100%, 48% 100%);        
            transition: clip-path .5s;
        }
        &:hover::after {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);        
        }
    }
}